.mainSelect{
    margin-top: 10%;
}

.select{
    margin-left: 200%;
    width : 100%;
    padding: 5%;
    border : 1px;
    border-style: solid;
    color: #7aacb3;
    margin-top: 2%;
    margin-bottom: 2%;
}

.button{
    background-color: #7aacb3;
    width : 100%;
    padding: 5%;
    color: white;
    font-weight: bold;
    margin-left: 200%;
    margin-top: 15%;
}
